[user]
	name = Allan Co
	email = x1098727@ti.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[core]
	gitproxy = none for ti.com
	gitproxy = /home/allan/.script/git-proxy.sh
[http]
	proxy = http://webproxy.ext.ti.com:80
[https]
	proxy = http://webproxy.ext.ti.com:80
[include]
	path = /home/allan/workspace/xl4tsn/TI_RTOS_TSN/Source/Sitara/processor-sdk-mcu/mcupsdk_internal/git_config/local_config.txt

