[core]
	autocrlf = input
[user]
	name = Allan Co
	email = allanrodrigo.co@excelfore.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[diff]
	tool = bc3
[difftool "bc3"]
	trustExitCode = true
[alias]
	dt = difftool --dir-diff
	cleanall = !git clean -xfd && git submodule foreach --recursive git clean -xfd && git reset --hard && git submodule foreach --recursive git reset --hard && git submodule update --init --recursive
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
